:root {
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainGrey:rgb(128, 126, 126);
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body {
  font-family: 'Oswald', sans-serif !important;
  font-family: 'Orbitron', sans-serif;
background: var(--mainGrey) !important;
}